.sectionContact {
  width: 100%;
  height: auto;
  padding-bottom: 6%;
}

.sectionContact__content {
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 8%;
}

.sectionContact__title {
  color: #DCC5DB;
  font-size: 3vw;
}

.sectionContact__paragraphe {
  color: #DCC5DB;
  margin-top: 1%;
  font-size: 1.3vw;
}

.formContact {
  width: 50%;
  height: 38vw;
  margin: 4% auto;
  background: rgba(51, 50, 50, 0.7);
  margin-bottom: 4%;
  border-radius: 25px;
  font-size: .9vw;
  border: 1px solid #DCC5DB;
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  .formContact {
    width: 60%;
    height: 42vw;
  }
}

@media screen and (min-width: 600px) and (max-width: 999px) {
  .formContact {
    width: 70%;
    height: 64vw;
  }
}

@media screen and (min-width: 450px) and (max-width: 599px) {
  .formContact {
    width: 90%;
    height: 80vw;
  }
}

@media screen and (min-width: 320px) and (max-width: 449px) {
  .formContact {
    width: 90%;
    height: 92vw;
  }
}

.contactForm {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 4%;
}

.contactForm__labelName {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 700;
  margin: 3% 0% 1% 0%;
  letter-spacing: .7pt;
}

@media screen and (min-width: 600px) and (max-width: 999px) {
  .contactForm__labelName {
    font-size: 2vw;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .contactForm__labelName {
    font-size: 2.8vw;
  }
}

.contactForm__para {
  margin-bottom: 1%;
}

.contactForm__alertmsg {
  color: red;
}

.contactForm__fname {
  width: 40%;
  padding: 1%;
  border-radius: 4px;
  border: none;
  font-size: .8vw;
  background: #f5f2f2;
  letter-spacing: .7pt;
}

@media screen and (min-width: 600px) and (max-width: 999px) {
  .contactForm__fname {
    width: 50%;
    font-size: 2vw;
  }
}

@media screen and (min-width: 450px) and (max-width: 599px) {
  .contactForm__fname {
    font-size: 2.8vw;
    width: 50%;
  }
}

@media screen and (min-width: 320px) and (max-width: 449px) {
  .contactForm__fname {
    font-size: 3vw;
    height: 3.5vh;
    width: 60%;
  }
}

.contactForm__email {
  width: 60%;
  padding: 1%;
  border-radius: 4px;
  border: none;
  font-size: .8vw;
  background: #f5f2f2;
  letter-spacing: .7pt;
}

@media screen and (min-width: 600px) and (max-width: 999px) {
  .contactForm__email {
    width: 70%;
    font-size: 2vw;
  }
}

@media screen and (min-width: 450px) and (max-width: 599px) {
  .contactForm__email {
    font-size: 2.8vw;
    width: 70%;
  }
}

@media screen and (min-width: 320px) and (max-width: 449px) {
  .contactForm__email {
    font-size: 3vw;
    height: 3.5vh;
    width: 70%;
  }
}

.contactForm__sujet {
  width: 40%;
  padding: 1%;
  border-radius: 4px;
  border: none;
  font-size: .8vw;
  background: #f5f2f2;
  letter-spacing: .7pt;
}

@media screen and (min-width: 600px) and (max-width: 999px) {
  .contactForm__sujet {
    width: 50%;
    font-size: 2vw;
  }
}

@media screen and (min-width: 450px) and (max-width: 599px) {
  .contactForm__sujet {
    font-size: 2.8vw;
    width: 50%;
  }
}

@media screen and (min-width: 320px) and (max-width: 449px) {
  .contactForm__sujet {
    font-size: 3vw;
    height: 3.5vh;
    width: 50%;
  }
}

.contactForm__message {
  height: 10vw;
  padding: 1%;
  border-radius: 4px;
  border: none;
  font-size: .8vw;
  background: #f5f2f2;
  letter-spacing: .7pt;
}

@media screen and (min-width: 600px) and (max-width: 999px) {
  .contactForm__message {
    height: 15vw;
    font-size: 2vw;
  }
}

@media screen and (min-width: 450px) and (max-width: 599px) {
  .contactForm__message {
    font-size: 2.8vw;
    height: 15vw;
  }
}

@media screen and (min-width: 320px) and (max-width: 449px) {
  .contactForm__message {
    font-size: 3vw;
    height: 20vw;
  }
}

.contactForm__sendBtn {
  width: 20%;
  margin: 8% auto;
  padding: 1%;
  border-radius: 8px;
  font-size: .9vw;
  font-weight: 700;
  background: none;
  border: 1px solid #F8EFF7;
  color: white;
  cursor: pointer;
  letter-spacing: .7pt;
}

@media screen and (min-width: 600px) and (max-width: 999px) {
  .contactForm__sendBtn {
    font-size: 2vw;
    border-radius: 2px;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .contactForm__sendBtn {
    font-size: 2.8vw;
    border-radius: 2px;
  }
}

.contactForm__sendBtn:hover {
  color: #292626;
  background: #F8EFF7;
}

.alertMsg {
  text-align: center;
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=contact.css.map */